<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fullstack scriber</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>

        
        <div class="users-column">
            <div class="column-header">Fullstack scriber - This is an API based Service pls. refer to the link below for the README file</div>
            <a href="https://github.com/emrexhepi/fullstack-scriber/tree/stable">Fullstack Scriber</a>
        </div>

    </body>
</html>
